.acc-con {
    margin: 2rem 0;
    .wp-block-column & {
        margin: 0;
    }

    >div {
        position: relative;

        &:hover {
            z-index: 1;
        }
        &::after {
            content: '';
            height: 1px;
            background: currentColor;
            display: block;
            opacity: .35;
        }
    }
    .arrow {
        content: '';
        position: absolute;
        right: 0;
        right: 1.5rem;
        top: 1.5rem;
        opacity: 1;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 8px solid;
        transition: 0.3s ease;
        z-index: 2;
        opacity: .5;
    }

    .acc-head {
        padding: 1.5rem;
        padding-left: calc(2rem - 2ch);
        cursor: pointer;
        transition: 0.2s ease;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: .85rem;
        line-height: 1;

        &:hover {
        	.arrow {
        		opacity: 1;
        	}
        }
        &.active {
            box-shadow:  0 10px 10px -10px rgb(0,0,0,15%);
            }
        
    }

    .acc-content {
        display: none;
        overflow: hidden;
        padding: 2rem 2rem 1rem 2rem;
    }

    .arrow-animate {
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-bottom: 8px solid;
        border-top:0;
        animation: blink-animation 2s steps(5, start) infinite;
    }
    img {
        border: 1px solid;
        padding: 3px;
    }
}
.acc-title {
    margin: 0;
    position: relative;
    z-index: 1;
    &::before {
        content: '-';
        padding-right: 1ch;
    }
}