.flex {
    display: flex;
}
.flex-column {
    flex-direction: column;
}
.flex-down {
    margin-top: auto;
}
.flex-right {
    margin-left: auto
}
.a-baseline {
    align-items: baseline;
}

.a-center {
    align-items: center;
    .page-header & {
        padding: 0 2rem;
    }
}