@use 'elements/breakpoints'as b;
@use 'elements/size'as s;

.wpcf7 {
	margin: s.$gap-n 0;
	input {
		&[type=submit] {
			cursor: pointer;
			min-height: 3rem;
		}
	}
	p {
		margin: 0 0 s.$gap-s 0;
	}
	label {
		font-size: s.$font-s;
	}
}
.required {
		color: #dc3232;
	}
.wpcf7 form .wpcf7-response-output {
	border-width: 1px;
}
.wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output {
	border-color: #dc3232;
}
.wpcf7-not-valid {
	background: #ff000014;
}
@media(min-width: b.$phone) {
	.wpcf7 {
	margin: s.$gap-n 0;
	input {
		&[type=submit] {
			max-width: 300px;
		}
	}
}

}