$gap-xs: .5rem;
$gap-s: 1rem;
$gap-n: 2rem;
$gap-x: 3rem;

$aside-width: 250px;

$font-l: 1.3rem;
$font-n: 1.1rem;
$font-s: 1rem;
$font-xs: .9rem;

$line-n: 1.7;
$line-s: 1.4;
$line-xs: 1.1;


$xxs: .5rem;
$xs: .8rem;
$s: 1rem;
$m: 1.1rem;
$l: 1.5rem;
$xl: 2rem;
$xxl: 3rem;
$xxxl: 4.5rem;